/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  justify-content: space-evenly;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  font-size: 2em;
}

nav a {
  color: #c0c0c0;
}

main, h2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: center;
}

li {
  display: flex;
  flex-grow: 1;
}

button {
  background-color: #909090;
  color: black;
  border-radius: 50%;
  font: bold;
  font-size: 1.5em;
  height: 2em;
}

.addOne {
  background-color: #333333;
  color: #c0c0c0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

#campus, #ss-student, #ss-campus {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.left {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
}

.right {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: flex-start;
}
