/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  justify-content: space-evenly;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  font-size: 2em;
}

nav a {
  color: #c0c0c0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
  align-items: center;
  justify-items: center
}

button {
  border-radius: 50%;
  font: bold;
  font-size: 1.5em;
  height: 2em;
}

.addOne {
  background-color: #333333;
  color: #c0c0c0;
  width: 80vw;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
